## **Chapter 5: Getting Started with pandas**

- **pandas** l√† m·ªôt th∆∞ vi·ªán m·∫°nh trong Python d√πng ƒë·ªÉ l√†m s·∫°ch, x·ª≠ l√Ω v√† ph√¢n t√≠ch d·ªØ li·ªáu m·ªôt c√°ch nhanh ch√≥ng v√† ti·ªán l·ª£i.
- Th∆∞·ªùng ƒë∆∞·ª£c d√πng c√πng v·ªõi c√°c th∆∞ vi·ªán nh∆∞:
    - matplotlib (v·∫Ω bi·ªÉu ƒë·ªì),
    - scikit-learn, statsmodels (ph√¢n t√≠ch, h·ªçc m√°y).
    - pandas ƒë∆∞·ª£c ph√°t tri·ªÉn t·ª´ nƒÉm 2010 v√† ƒë·∫øn nay ƒë√£ c√≥ h∆°n 2.500 ng∆∞·ªùi ƒë√≥ng g√≥p, l√† m·ªôt d·ª± √°n c·ªông ƒë·ªìng m√£ ngu·ªìn m·ªü t·ª´ nƒÉm 2013.
- Trong s√°ch, t√°c gi·∫£ d√πng quy ∆∞·ªõc import chu·∫©n:

In [55]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

- Series: d·ªØ li·ªáu 1 chi·ªÅu (gi·ªëng 1 c·ªôt).
- DataFrame: d·ªØ li·ªáu 2 chi·ªÅu (gi·ªëng b·∫£ng).

### **5.1 Introduction to pandas Data Structures**

#### **Series**

Series l√† m·ªôt m·∫£ng 1 chi·ªÅu trong pandas, gi·ªëng NumPy array nh∆∞ng c√≥ th√™m **nh√£n (index)** cho t·ª´ng ph·∫ßn t·ª≠.

In [56]:
obj = pd.Series([4, 7, -5, 3])
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64

üìå N·∫øu kh√¥ng ch·ªâ ƒë·ªãnh index, pandas s·∫Ω t·∫°o index m·∫∑c ƒë·ªãnh l√† 0, 1, 2,‚Ä¶

B·∫°n c√≥ th·ªÉ truy c·∫≠p:

In [57]:
obj.array   # d·ªØ li·ªáu

<NumpyExtensionArray>
[4, 7, -5, 3]
Length: 4, dtype: int64

In [58]:
obj.index   # index

RangeIndex(start=0, stop=4, step=1)

**Series c√≥ nh√£n t√πy ch·ªânh**

In [59]:
obj2 = pd.Series([4, 7, -5, 3], index=["a", "b", "c", "d"])  # G√°n index t√πy √Ω
obj2

a    4
b    7
c   -5
d    3
dtype: int64

üëâ Truy c·∫≠p theo nh√£n:

In [60]:
obj2["a"]     # -5
obj2[["c", "a", "d"]]

c   -5
a    4
d    3
dtype: int64

**Series h·ªó tr·ª£ c√°c thao t√°c nh∆∞ NumPy**

In [61]:
obj2[obj2 > 0]     # l·ªçc

a    4
b    7
d    3
dtype: int64

In [62]:
obj2 * 2           # nh√¢n

a     8
b    14
c   -10
d     6
dtype: int64

In [63]:
np.exp(obj2)       # d√πng h√†m numpy

a      54.598150
b    1096.633158
c       0.006738
d      20.085537
dtype: float64

**Series gi·ªëng t·ª´ ƒëi·ªÉn**

In [64]:
"b" in obj2

True

In [65]:
"e" in obj2

False

B·∫°n c√≥ th·ªÉ t·∫°o Series t·ª´ dict:

In [66]:
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

Ho·∫∑c √©p index theo th·ª© t·ª± mong mu·ªën:

In [67]:
states = ["California", "Ohio", "Oregon", "Texas"]
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

N·∫øu key kh√¥ng t·ªìn t·∫°i, gi√° tr·ªã s·∫Ω l√† NaN.

**Ki·ªÉm tra gi√° tr·ªã thi·∫øu (NaN)**

In [68]:
pd.isna(obj4)
obj4.notna()      # c≈©ng ƒë∆∞·ª£c

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

**C·ªông Series ‚Äì t·ª± ƒë·ªông cƒÉn ch·ªânh theo index**

In [69]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

üìå C√°c nh√£n ƒë∆∞·ª£c gh√©p gi·ªëng nh∆∞ ph√©p **join** trong c∆° s·ªü d·ªØ li·ªáu.

**ƒê·∫∑t t√™n cho Series v√† index**

In [70]:
obj4.name = "population"
obj4.index.name = "state"
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

**Thay ƒë·ªïi index**

In [71]:
obj.index = ["Bob", "Steve", "Jeff", "Ryan"]
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

#### **DataFrame**

##### **üß± DataFrame l√† g√¨?**
- L√† m·ªôt b·∫£ng d·ªØ li·ªáu hai chi·ªÅu (gi·ªëng nh∆∞ b·∫£ng Excel).
- M·ªói **c·ªôt** l√† m·ªôt **Series**, v√† c√°c Series n√†y **d√πng chung ch·ªâ m·ª•c (index)**.
- C√≥ th·ªÉ ch·ª©a nhi·ªÅu ki·ªÉu d·ªØ li·ªáu kh√°c nhau trong t·ª´ng c·ªôt (s·ªë, chu·ªói, Boolean‚Ä¶).

##### **üõ† C√°ch t·∫°o DataFrame ph·ªï bi·∫øn nh·∫•t**

In [73]:
data = {
    "state": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
    "year": [2000, 2001, 2002, 2001, 2002, 2003],
    "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
}
frame = pd.DataFrame(data)
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

##### **üìã Truy c·∫≠p d·ªØ li·ªáu**

- Truy c·∫≠p **c·ªôt**:

In [74]:
frame["state"]
frame.year  # Ch·ªâ d√πng ƒë∆∞·ª£c n·∫øu t√™n c·ªôt l√† t√™n h·ª£p l·ªá trong Python

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: year, dtype: int64

- Truy c·∫≠p **d√≤ng**:

In [76]:
frame.loc[1]   # Theo label

state    Ohio
year     2001
pop       1.7
Name: 1, dtype: object

In [77]:
frame.iloc[2]  # Theo v·ªã tr√≠

state    Ohio
year     2002
pop       3.6
Name: 2, dtype: object

##### **ü™Ñ T√πy ch·ªânh v√† thao t√°c v·ªõi c·ªôt**

- **Th√™m c·ªôt m·ªõi:**

In [78]:
frame["debt"] = 16.5        # G√°n 1 gi√° tr·ªã duy nh·∫•t cho to√†n b·ªô c·ªôt
frame

    state  year  pop  debt
0    Ohio  2000  1.5  16.5
1    Ohio  2001  1.7  16.5
2    Ohio  2002  3.6  16.5
3  Nevada  2001  2.4  16.5
4  Nevada  2002  2.9  16.5
5  Nevada  2003  3.2  16.5

In [79]:
frame["debt"] = np.arange(6.)  # G√°n m·∫£ng c√≥ c√πng ƒë·ªô d√†i
frame

    state  year  pop  debt
0    Ohio  2000  1.5   0.0
1    Ohio  2001  1.7   1.0
2    Ohio  2002  3.6   2.0
3  Nevada  2001  2.4   3.0
4  Nevada  2002  2.9   4.0
5  Nevada  2003  3.2   5.0

- **G√°n Series c√≥ ch·ªâ m·ª•c ri√™ng** (s·∫Ω ƒë∆∞·ª£c cƒÉn ch·ªânh theo index c·ªßa DataFrame):

In [81]:
val = pd.Series([-1.2, -1.5, -1.7], index=["two", "four", "five"])
frame["debt"] = val
val

two    -1.2
four   -1.5
five   -1.7
dtype: float64

- **X√≥a c·ªôt**:

In [82]:
del frame["debt"]

##### **üîÑ Chuy·ªÉn ƒë·ªïi d·ªØ li·ªáu**

- **Chuy·ªÉn ƒë·ªïi t·ª´ dictionary l·ªìng nhau**:

In [83]:
populations = {
    "Ohio": {2000: 1.5, 2001: 1.7, 2002: 3.6},
    "Nevada": {2001: 2.4, 2002: 2.9}
}
frame3 = pd.DataFrame(populations)
frame3

      Ohio  Nevada
2000   1.5     NaN
2001   1.7     2.4
2002   3.6     2.9

- **Chuy·ªÉn v·ªã (transpose)**:

In [84]:
frame3.T

        2000  2001  2002
Ohio     1.5   1.7   3.6
Nevada   NaN   2.4   2.9

- **Ch·ªâ ƒë·ªãnh index c·ª• th·ªÉ khi t·∫°o t·ª´ nested dict**:

In [85]:
pd.DataFrame(populations, index=[2001, 2002, 2003])

      Ohio  Nevada
2001   1.7     2.4
2002   3.6     2.9
2003   NaN     NaN

##### **üîé M·ªôt s·ªë ƒëi·ªÉm c·∫ßn l∆∞u √Ω**
- frame[col] tr·∫£ v·ªÅ m·ªôt **view**, kh√¥ng ph·∫£i **copy**.
- Dot notation (frame.year) kh√¥ng d√πng ƒë∆∞·ª£c n·∫øu t√™n c·ªôt c√≥ d·∫•u c√°ch ho·∫∑c k√Ω t·ª± ƒë·∫∑c bi·ªát.
- N·∫øu g√°n gi√° tr·ªã v·ªõi ƒë·ªô d√†i kh√¥ng kh·ªõp s·ªë d√≤ng, s·∫Ω b√°o l·ªói.
- D√πng `frame.head()` ƒë·ªÉ xem 5 d√≤ng ƒë·∫ßu, `frame.tail()` ƒë·ªÉ xem 5 d√≤ng cu·ªëi.